@import "tailwindcss";

/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */
.inputDark {
  @apply w-full border p-2 rounded bg-white text-black;
}
.inputLight {
  @apply w-full border p-2 rounded bg-black text-white;
}
.btn {
  @apply bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600;
}
.card-dark {
  @apply shadow rounded bg-white dark:bg-gray-800 text-white p-4;
}
.card {
  @apply shadow rounded bg-white dark:bg-gray-800 text-white p-4;
}
.card-light {
  @apply p-4 shadow rounded bg-gray-800 text-white;
}

.team-modal{
  background-color: rgba(0, 0, 0, 0.5);
}